body {
		  background: black;
		  font-family: 'Fira Sans Extra Condensed', serif;
          font-size: 140px;
		  padding: 20px;
		}

		main {
		  background: white;
		  height: 100%;
		  width: 60%;
		  margin: 0 auto;
		  padding: 0px;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  resize: both;
		  overflow: auto;
		}

		main div {
		  background: #00c5f6;
		  color: white;
		  width: 50%;
		  padding: 20px;
		  resize: both;
		  overflow: auto;
		}
		a {
			color: white;
			text-decoration: none; 
		}
