		body {
		  background: black;
		  font-family: 'Fira Sans Extra Condensed', impact, arial;
		  text-align: center;
		  padding: 20px;
		}

		main {
		  background: black;
		  height: 100%;
		  width: 60%;
		  margin: 0 auto;
		  padding: 0px;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  resize: both;
		  overflow: auto;
		}

		main div {
		  background: #00c5f6;
		  border-radius: 15px;
		  color: white;
		  width: 500px;
		  height: 500px;
		  padding: 0px;
		  resize: both;
		  overflow: auto;
		}
		
		main div address {
		  vertical-align: middle;
		  margin-top: 100px;
		  font-size: 40px;
		}
		
		a {
			color: white;
			text-decoration: none; 
		}
		main div .logo {
			letter-spacing: 0.05em;
            font-size: 140px;
		}
